[Unit]
Description=TTYSaver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/ttysaver

[Install]
WantedBy=multi-user.target